.login_container {
  border-radius: 20px;
  background-color: rgba(240, 248, 255, 0.622);
  font-size: 20px;
margin: 3% auto;
width: 400px;
padding: 40px;
border: 1px solid #ccc;
border-radius: 5px;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}

h1{
  float: right;font-family: 'Times New Roman', Times, serif; display: inline;
}
button{
margin-top: 10px;
font-size: 20px;
padding: 10px 15px;
background-color: rgba(29, 2, 54, 0.537);
color:azure;
cursor: pointer;
border-radius: 20px;
}
.login_body{
height: 800px;
width: 100%;
background-image: url("purple.jpg");
background-repeat: no-repeat;
background-size: cover;

}

.header{
  background: none;
  
}
.login_container label{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
}
.login_container h2{
color:rgba(52, 12, 89, 0.959);
padding: -20px;
}
.login_container input{
margin-top:5px;
font-size: 15px;
padding: 5px;
}
.form-group {
margin-bottom: 10px;
text-align: left;
width: 100%;
}

.form-group label {
display: block;
text-align: left;
}

.form-group input {
width: 100%;
}
