.Cartpage {
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:50px;
  }
  
  .Cartpage img {
    margin: 10px;
    width:100px;
    height:90px;
    padding-top: 10px;
    display: inline-flex;

  }


  h1{
    text-align: center;
 }


 .cartprd{
     display: flex;
      border: 1px solid black;
     border-radius: 10px;
     width: 100%;
     padding: 10px;
     margin: 10px;
 }

 .cartprd h2{
     display: inline-flex;
     margin-left: 50px;
     margin-top: 50px;
 }

  