.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    background-color: #585656;
    width: 100%;
  }
  
  .footer a {
    padding: 8px;
    color: whitesmoke;
  }
  
  .footer p {
    margin: 0;
    padding: 20px;
  }
  
  address {
    margin: 0;
    padding: 20px;
    flex: 1;
  }
  